* {
  padding: 0px;
  margin: 0px;
  font-family: "Source sans Pro", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --fonte-primaria: 28px;
  --fonte-secundaria: 22px;
  --fonte-terciaria: 17px;
  --cor-principal: #00836a;
  --cor-secundaria: #fff;
}

.item__icone img {
  border-radius: 10px;
}

.menu {
  position: fixed;
  height: 100%;
  width: 85px;
  background: white;
  border-left: 10px solid white;
  box-shadow: 10px 0 0 var(--cor-principal);
  overflow-x: hidden;
  transition: 0.5s;
}

.menu:hover {
  width: 300px;

}

.menu ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 5px;
  padding-top: 40px;

}

.menu ul li {
  position: relative;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.menu ul li a {
  position: relative;
  display: flex;
  width: 100%;
  color: black;
}

.menu ul li a .item__icone {
  position: relative;
  display: block;
  min-width: 60px;
  text-align: center;
  line-height: 70px;
}

.item__icone ion-icon {
  position: relative;
  font-size: 1.5rem;
  z-index: 1;
}

.item__texto {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.menu ul li.active {
  background: var(--cor-principal);
}

.menu ul li.active a::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 15px 15px var(--cor-principal);
}

.menu ul li.active a::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: var(--cor-secundaria);
  border-radius: 50%;
  box-shadow: 15px -15px var(--cor-principal);
}


.imagemBackground {
  background-image: url('../img/img-fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagemBackground__texto {
  color: #fff;
  font-size: var(--fonte-primaria);
  background-color: #0a9077b3;
  border: 1px solid;
  padding: 25px 20px;
  border-radius: 4px;
  text-align: center;
}

.textoQuartos h1 {
  padding-bottom: 15px;
}

.textoQuartos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  padding: 60px 20px;
}

.textoQuartos h2 {
  text-transform: uppercase;
  font-size: var(--fonte-primaria);
  padding: 0px 0px 20px 0px;
  font-weight: 400;
}

.textoQuartos p {
  font-size: var(--fonte-secundaria);
  font-weight: 390;
  text-transform: uppercase;
}

.quarto__conteudo img {
  width: 290px;
  height: 200px;
  border-radius: 10px;
}

.quarto__conteudo {
  padding: 20px;
  border-radius: 5px;
  margin-right: 1.2rem;
  position: relative;
  z-index: -1;
}

.quarto__conteudo:last-child {
  margin-right: 0px;
}

.quarto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}

.quarto__conteudo p {
  text-align: center;
  color: #3d3d3d;
  border-bottom: 2px solid var(--cor-principal);
  text-transform: uppercase;
  font-weight: 400;
}

[data-anima] {
  opacity: 0;
  transition: .3s;
}

[data-anima="rigth"] {
  transform: translate3d(50px, 0, 0);
}

[data-anima="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anima].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.descricaoTexto {
  text-align: center;
  padding: 60px
}

.descricaoTexto h2 {
  text-transform: uppercase;
  font-size: var(--fonte-primaria);
  padding: 0px 0px 20px 0px;
  font-weight: 380;

}

.descricaoTexto p {
  font-size: var(--fonte-secundaria);
  font-weight: 390;
  text-transform: uppercase;
}

.descricao {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  max-width: 1035px;
  margin: 0 auto;
}

.descricao__conteudo {
  display: flex;
  width: 45%;
  margin: 0 10px;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.conteudo__texto {
  flex: 1 1 auto;
}

.conteudo__imagem {
  width: 100px;
  height: 113px;
  object-fit: cover;
  margin-left: 10px;
}

.rodape__copyright {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #3b7863;
  color: #fff;
  font-weight: 600;
  width: 100%;
}

.rodape {
  background-color: #49997d;
  color: #fff;
}

.rodape h4 {
  font-size: var(--fonte-secundaria);
}

.rodape__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.rodape__info {
  width: 23%;
  display: flex;
  align-items: center;
}

.rodape__link {
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.rodape__icone {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.rodape__info a {
  color: #fff;
}